.product-image-big {
    display: flex;
    /*align-items: center;*/
}

.details-price {
    font-weight: bold;
    font-size: 1.5em;
}

.display-img {
    /*padding: 1.5%;*/
    border-radius: 0.5rem;
    box-shadow: 0 0 15px lightgrey;
}

.product-title {
    font-family:'Arial', sans-serif;
    /*border-bottom: 1px solid lightgrey;*/
}
.product-details-container{
    border:1px solid lightgrey ;
    padding: 50px;
    box-shadow: 0 0 15px lightgrey;
    border-radius: 0.5rem;
}

.table-div {
    /*box-shadow: 0 0 15px lightgrey;*/
}

.mrp {
    color: rgb(128,128,128);
    font-size: 0.8em !important;
    font-weight: normal;
    text-decoration: line-through;
}