footer {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    background: #212529;
    margin-top: 20px;
    color: whitesmoke;
    padding: 0.8rem 0 1rem 0;
}

.footer-container {
    padding: 0 20px;
    margin: 0 auto;
}

.itemsbm {
    margin-bottom: 1rem;
}

.itemsbm .footer-titles {
    display: block;
    margin: 2rem 0 0.7rem 0;
    font-size: 22px;
    font-weight: bold;
}

.items .footer-titles span {
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid white;
}

.itemsbm p {
    display: block;
    line-height: 1.6rem;
    margin: 0;
    font-size: 17px;
}

hr {
    opacity: .3;
}

.footer-titles {
    font-family: "Oswald",sans-serif;
}