.topLogo {
    max-height: 7vh;
}

/*.navbar-toggler:focus {*/
/*    outline: none;*/
/*}*/

.nav-link {
    display: block;
    text-decoration: none;
    color: white !important;
    text-transform: uppercase;
    padding: 0.5vh;
}

.nav-item:hover, .nav-item .active {
    overflow: hidden;
    border-radius: 1em;
    background-color: #4e51bf !important;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: #4e51bf !important;
}
