.card {
    transition: all 0.3s ease-in-out;
    /*transition: height 2s ease-out;*/
    box-shadow: 0 0 5px darkgrey;
    width: 22%;
    background-color: var(--accent-1);
    border-radius: 1rem;
    overflow: hidden !important;
}

.card-title {
    /*height: 1em;*/
    /*line-height: 1em;*/
    text-overflow: ellipsis;
}

.swiper-slide {
    width: 100% !important;
}

.swiper-slide:hover {
    box-shadow: 0 0 10px darkgrey !important;
}

.card ul li {
    background-color: var(--accent-1);
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image-div {
    display: flex;
    border-bottom: 1px solid grey !important;
}

.card-img {
    height: 200px;
    width: 100%;
    object-fit: scale-down;
    /*aspect-ratio: 1.6;*/
    border-radius: 0 !important;
}

.card > .btn {
    background-color: #4e51bf !important;
}

.card p {
    color: black !important;
}

.discount {
    background-color: var(--accent-2) !important;
    color: white !important;
    position: absolute;
    font-size: 1.2em;
    top: 10px;
    right: 75% !important;
    padding: 0 8px;
    border-radius: 1em;
}

.price {
    font-weight: bold;
    font-size: 1.2em;
}

.mrp {
    color: rgb(128,128,128);
    font-size: 0.8em !important;
    font-weight: normal;
    text-decoration: line-through;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 30px darkgrey;
    color: var(--accent-2) !important;
}

.card-title {
    display: block;
    text-overflow: ellipsis;
    max-height: 1.2em !important;
    -webkit-box-orient: vertical;
    word-break: break-word !important;
    overflow: auto;
    transition: max-height 0.3s ease-in;
}

.card:hover .card-title {
    overflow: visible;
    max-height: 2.4em !important;
    transition: max-height 0.3s ease-out;
}

.searchCard {
    box-sizing: border-box;
    margin: 1%;
}

@media (min-width: 992px) {
    .searchCard{
        width: calc(94% / 3);/*(100 - 2*3) / 3*/
    }
}

/*x-large*/
@media (min-width: 1200px) {
    .searchCard {
        width: 23%;
    }
}

/*xx-large*/
@media (min-width: 1400px) {
   .searchCard {
        width: 23%;
    }
}