footer {
    font-family: Montserrat,Roboto, sans-serif;
    line-height: 1.5;
    background: var(--contrast);
    /*background: rgb(53,95,146);*/
    /*background: radial-gradient(circle, rgba(53,95,146,1) 0%, rgba(29,40,54,1) 100%);*/
    margin-top: 20px;
    color: whitesmoke;
    padding: 0.8rem 0 1rem 0;
}

.footer-container {
    padding: 0 20px;
    margin: 0 auto;
}

p > a {
    text-decoration: none;
    color: white;
}

p > a:hover {
    text-decoration: underline;
    color: white;
}

.itemsbm {
    margin-bottom: 1rem;
}

.itemsbm .footer-titles {
    display: block;
    margin: 2rem 0 0.7rem 0;
    font-size: 22px;
    font-weight: bold;
}

.items .footer-titles span {
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid white;
}

.itemsbm p {
    display: block;
    line-height: 1.6rem;
    margin: 0;
    font-size: 17px;
}

hr {
    opacity: .3;
}

.footer-titles {
    text-decoration: underline;
    font-family: "Oswald",sans-serif;
}