.topLogo {
    max-height: 7vh;
}

/*.navbar-toggler:focus {*/
/*    outline: none;*/
/*}*/

.nav-link {
    display: block;
    text-decoration: none;
    color: white !important;
    text-transform: uppercase;
    padding: 0.5vh;
}

.nav-item:hover, .nav-item .active {
    overflow: hidden;
    border-radius: 1em;
    background-color: var(--accent-2) !important;
    cursor: pointer;
    box-shadow: 0 0 5px var(--accent-2);
}

#searchBtn {
    /*border: 1px solid grey;*/
    color: black;
}

#searchBtn {
    background: var(--accent-1) !important;
}

.navbar-container {
    background: var(--contrast);
    /*background: rgb(29,40,54);*/
    /*background: linear-gradient(180deg, rgba(29,40,54,1) 0%, rgba(53,95,146,1) 100%);*/
    color: black;
    /*border-bottom: 1px solid grey;*/
}
