.nav-link {
    /*display: flex;*/
    border: 1px solid black;
    color: black;
    flex-basis: 3%;
    border-radius: 1rem;
    text-decoration: none;
}

.nav-link-container {
    display: flex;
    flex-wrap: nowrap;
    /*height: 2rem;*/
    overflow: auto;
    /*overflow-y: hidden;*/
}

.active, .nav-link:hover {
    color: white;
    background-color: var(--accent-2);
}

