.productsBar {
    border-radius: 2rem;
    box-shadow: 0 0 10px lightgrey;
    padding: 0.5rem 1rem 1.5rem 1rem;
}

.top-products-text {
    font-family: 'Oswald', serif;
    font-weight: bold;
    margin: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.seeMoreBtn {
    font-family: arial, serif;
    font-size: 1rem;
    background-color: var(--accent-2);
    color: white;
    margin: 0 0 0 1rem;
    border-radius: 2rem;
    transition: all 0.2s ease-in;
}

.seeMoreBtn:hover {
    color: white;
    transform: scale(1.1);
    transition: all 0.2s ease-out;
    box-shadow: 0 0 10px var(--contrast);
}

.swiper-father {
    position: relative;
}

.swiper-slide {
    box-shadow: 0 0 10px lightgrey;
}

.swiper-wrapper {
    padding: 1rem !important;
}

.swiper-button-prev, .swiper-button-next {
    color: black !important;
}

.swiper-container {
    /*overflow: visible!important;*/
    width: 92%;
    padding: 1rem !important;
}


@media (min-width: 576px) {
    .top-products-text {
        font-size: 2rem;
    }
}